body {
    background-color: burlywood;
}
    

/* main title */
    .title {
        color: orangered;
        text-align: center;
    }

/* about paragraph */
    #aboutTitle {
        margin-left: 4%;        
        width: fit-content;
        border-style: hidden hidden solid hidden;
        border-bottom-width: 0.1875em;
        text-align: center;
    }
    .about {
        position: relative;
        left: 25%;
        width: 20em;
        text-align: justify;
    }

/* side blocks */
    #leftBlocs {
        position: fixed;
        left: 0em;
        top: 0em;
        background-color: darkgrey;
        border-color: darkgrey grey darkgrey darkgrey;
        border-style: solid;
        width: 8em;
        height: 100%;
    }
    #rightBlocs {
        position: fixed;
        right: 0em;
        top: 0em;
        background-color: darkgrey;
        border-color: darkgrey darkgrey darkgrey grey;
        border-style: solid;
        width: 8em;
        height: 100%;
    }

/* picture */
    #timPic {
        position: relative;
        left: 45%;
        top: -27em;
        margin-left: auto;
        width: 30%;
        height: 30%;
    }

/* contact info */
    ul.contact {
        margin-left: 9em;
        list-style-type: none;
        overflow: hidden;
    }
    li {
        float: left;
        padding: 1em;
    }